@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@400;500;600&family=Roboto:wght@100&family=Source+Code+Pro:wght@300;900&family=Source+Sans+Pro:wght@300;900&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 3000px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  padding: 0 54px;
  margin: auto;
  width: 95%;
}

.commen-header {
  text-align: center;
  margin-bottom: 6em;
}

.commen-header h2 {
  font-size: 5rem;
  font-family: sans-serif;
  margin-bottom: 0.4em;
}

.commen-header span {
  display: block;
  display: block;
  font-size: 3rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.commen-header span::after, .commen-header span::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: 20px;
  background-color: crimson;
}

.commen-header span::before {
  left: -56%;
}

.commen-header span::after {
  right: -56%;
}

/*Starrt navbar*/
.navbar {
  width: 100%;
  font-family: 'Roboto' , sans-serif;
  position: fixed;
  padding: 30px 0;
  z-index: 5;
}

.navbar.change {
  background-color: crimson;
  padding: 15px 0;
}

.navbar.change .menu li a:hover {
  background-color: #fff;
}

.navbar .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.navbar .max-width .logo a {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.navbar .max-width .logo a span {
  color: crimson;
}

.navbar .max-width .menu li {
  display: inline-block;
}

.navbar .max-width .menu li a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 25px;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.navbar .max-width .menu li a:hover {
  color: crimson;
}

.navbar .max-width .menu-btn {
  color: #fff;
  font-size: 2.3rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 950px) {
  .navbar .menu {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #0f000b;
    text-align: center;
    padding-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    font-size: 4rem;
    left: -100%;
    -webkit-transform: all 5s ease;
            transform: all 5s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .max-width .menu li {
    margin-bottom: 2em;
  }
  .navbar .max-width .menu li a {
    font-size: 4rem;
    font-weight: bold;
  }
  .navbar .max-width .menu-btn {
    display: block;
    z-index: 900;
    -webkit-transition: all 5s ease;
    transition: all 5s ease;
  }
  .navbar .menu-btn i.active::before {
    content: "";
  }
}

/*End navbar*/
.home {
  height: 100vh;
  background-color: #0f000b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.home .home-parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-parts .myinfo .text-1 {
  font-size: 2.7rem;
}

.home .home-parts .myinfo .text-2 {
  font-size: 7.5rem;
  margin-left: -3px;
  font-weight: 600;
}

.home .home-parts .myinfo .text-3 {
  font-size: 4rem;
  margin: 5px 0;
  overflow: hidden;
}

.home .home-parts .myinfo .text-3 span {
  font-weight: 600;
  color: crimson;
  position: relative;
  display: inline-block;
}

.home .home-parts .myinfo .text-3 span::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f000b;
  -webkit-animation: typing 4s steps(10) infinite;
          animation: typing 4s steps(10) infinite;
}

.home .home-parts .myinfo a {
  display: block;
  height: 6rem;
  border: 2px solid crimson;
  text-align: center;
  padding: 0.3em;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  width: 21rem;
  font-size: 3em;
  margin-top: 2em;
}

.home .home-parts .myinfo a:hover {
  color: #fff;
  background-color: crimson;
}

.home .home-parts .myinfo a:hover {
  color: #fff;
  background-color: crimson;
}

.home .box div {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 5px solid crimson;
}

.home .box div:nth-child(1) {
  top: 12%;
  left: 42%;
  -webkit-animation: move 10s linear infinite;
          animation: move 10s linear infinite;
}

.home .box div:nth-child(2) {
  top: 70%;
  left: 50%;
  -webkit-animation: move 7s linear infinite;
          animation: move 7s linear infinite;
}

.home .box div:nth-child(3) {
  top: 18%;
  left: 7%;
  -webkit-animation: move 9s linear infinite;
          animation: move 9s linear infinite;
}

.home .box div:nth-child(4) {
  top: 24%;
  left: 58%;
  -webkit-animation: move 7s linear infinite;
          animation: move 7s linear infinite;
}

.home .box div:nth-child(5) {
  top: 90%;
  left: 23%;
  -webkit-animation: move 5s linear infinite;
          animation: move 5s linear infinite;
}

.home .box div:nth-child(6) {
  top: 80%;
  left: 70%;
  -webkit-animation: move 12s linear infinite;
          animation: move 12s linear infinite;
}

.home .box div:nth-child(7) {
  top: 60%;
  left: 80%;
  -webkit-animation: move 14s linear infinite;
          animation: move 14s linear infinite;
}

.home .box div:nth-child(8) {
  top: 12%;
  left: 42%;
  -webkit-animation: move 10s linear infinite;
          animation: move 10s linear infinite;
}

.home .box div:nth-child(9) {
  top: 25%;
  left: 50%;
  -webkit-animation: move 9s linear infinite;
          animation: move 9s linear infinite;
}

.home .box div:nth-child(10) {
  top: 75%;
  left: 90%;
  -webkit-animation: move 5s linear infinite;
          animation: move 5s linear infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0);
            transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3) translateY(-90px) rotate(360deg);
            transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes move {
  0% {
    -webkit-transform: scale(0) translateY(0) rotate(0);
            transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3) translateY(-90px) rotate(360deg);
            transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes typing {
  40%, 60% {
    left: calc(100% + 10px);
  }
  100% {
    left: 0%;
  }
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 10px);
  }
  100% {
    left: 0%;
  }
}

@media screen and (max-width: 854px) {
  .hom {
    max-height: 80%;
  }
  .home .profile-img img {
    display: none;
  }
  .home a {
    margin-top: 4em;
  }
}

@media screen and (max-width: 1165px) {
  .home .profile-img {
    max-width: 45%;
  }
  .home .profile-img img {
    width: 95%;
  }
  .home .home-parts .myinfo .text-1 {
    font-size: 2.7rem;
    margin-bottom: 1em;
  }
  .home .home-parts .myinfo .text-2 {
    font-size: 5rem;
    margin-bottom: .5em;
  }
}

/*start about me section*/
.about-me {
  padding-top: 4em;
  padding-bottom: 4em;
  margin-top: 2em;
}

.about-me .about-me-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .about-me-info .about-img {
  width: 40%;
}

.about-me .about-me-info .about-img img {
  max-width: 100%;
  padding-bottom: 13em;
}

.about-me .about-me-info .about-detail {
  width: 40%;
}

.about-me .about-me-info .about-detail h3 {
  font-size: 4rem;
  margin-bottom: 0.5em;
}

.about-me .about-me-info .about-detail p {
  font-size: 2rem;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.about-me .about-me-info .about-detail .btn {
  display: block;
  height: 6rem;
  border: 2px solid crimson;
  text-align: center;
  padding: 0.3em;
  border-radius: 5px;
  font-weight: 600;
  width: 16rem;
  font-size: 2em;
  color: #0f000b;
  margin-top: 1em;
  font-family: sans-serif;
  line-height: 4rem;
}

.about-me .about-me-info .about-detail .btn:hover {
  color: #fff;
  background-color: crimson;
}

@media (max-width: 1200px) {
  .about-me .about-me-info .about-img {
    width: 40%;
  }
  .about-me .i-am h2 {
    font-size: 4rem;
  }
  .about-me .about-me-info .about-detail h3 {
    font-size: 3.5rem;
  }
  .about-me .about-me-info .about-detail {
    width: 45%;
  }
  .about-me .about-me-info .about-detail p {
    font-size: 1.7rem;
  }
}

@media (max-width: 918px) {
  .about-me .about-me-info .about-img {
    width: 44%;
  }
  .about-me .about-me-info .about-detail {
    width: 45%;
  }
}

@media (max-width: 280px) {
  .about-me .about-me-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .commen-header span::before {
    left: -100%;
    top: 13px;
  }
  .commen-header span::after {
    right: -100%;
    top: 13px;
  }
  .about-me .about-me-info .about-img {
    width: 100%;
  }
  .about-me .about-me-info .about-img img {
    padding-bottom: 5em;
  }
  .about-me .about-me-info .about-detail {
    width: 100%;
  }
  .about-me .about-me-info .about-detail h3 {
    font-size: 3rem;
    text-align: center;
  }
  .about-me .about-me-info .about-detail {
    width: 100%;
  }
  .about-me .about-me-info .about-detail .btn {
    margin: 2em auto .5em;
    font-size: 1.8em;
  }
  .about-me .about-me-info .about-detail p {
    font-size: 1.4rem;
  }
}

/*end about me section*/
/*Start our services*/
.services {
  padding-top: 9em;
  padding-bottom: 11em;
  margin-top: 2em;
  background-color: #0f000b;
  color: #fff;
}

.services .our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.services .our-services .services-info {
  background-color: #2e292d;
  text-align: center;
  padding: 2em;
  width: 31%;
  border-radius: 5px;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.services .our-services .services-info:hover {
  background-color: crimson;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.services .our-services .services-info:hover i {
  color: #0f000b;
}

.services .our-services .services-info i {
  color: crimson;
  font-size: 4rem;
  display: block;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
}

.services .our-services .services-info h3 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.services .our-services .services-info p {
  font-size: 2.3rem;
  line-height: 1.6;
  font-family: 'Poppine, sans-serif';
  color: #f3f1ed;
  margin: 1em 0 1.2em;
}

@media (max-width: 1374px) {
  .services .our-services .services-info h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1198px) {
  .services .our-services .services-info h3 {
    font-size: 2rem;
  }
  .services .our-services .services-info p {
    font-size: 2.1rem;
  }
  .commen-header h2 {
    font-size: 4rem;
  }
}

@media (max-width: 1007px) {
  .commen-header h2 {
    font-size: 3rem;
  }
  .commen-header span {
    font-size: 2rem;
  }
  .services .our-services .services-info h3 {
    font-size: 1.6rem;
  }
  .services .our-services .services-info p {
    font-size: 1.8rem;
  }
}

@media (max-width: 857px) {
  .services .our-services .services-info h3 {
    font-size: 2.5rem;
  }
  .services .our-services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services .our-services .services-info {
    width: 100%;
  }
}

@media (max-width: 280px) {
  .container {
    padding: 0 14px;
    width: 95%;
  }
  .commen-header h2 {
    font-size: 2.6rem;
  }
  .services .our-services .services-info h3 {
    font-size: 1.6rem;
  }
  .services .our-services .services-info p {
    font-size: 1.5rem;
    text-align: center;
  }
  .commen-header span::before {
    left: -50%;
    top: 13px;
  }
  .commen-header span::after {
    right: -50%;
    top: 13px;
  }
}

/*End our services*/
/*# sourceMappingURL=style.css.map */